body {
  background: #181a1c !important;
  color: #fff !important;
}
.text-success {
  color: #47dd82 !important;
}
.btn-success {
  background: #47dd82 !important;
  color: #000 !important;
  &:hover {
    background: #47dd82 !important;
    color: #fff !important;
  }
}

.bg-success {
  background: #47dd82 !important;
}
